<div class="container">
  
    <div class="row">
        <div class="card-body col-md-5">
            <app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>
        </div>

            <div class="col-md-7">
                <div class="card">
                    <div *ngFor="let quote of quotes;let i = 'index'"  >
                           
                        <div class="row">
                            
                             <li id="{{i}}"><b>{{quote.name}} wrote a quote on {{quote.completeDate|date}}</b></li>
                             <br>
                             <button class="btn btn-info" (click)='toogleDetails(i)'><b>Check Quote Details</b></button>

                        </div>
                        <app-quote-details  [quote]='quote'*ngIf="quote.showQuote"  (isComplete)= 'deleteQuote($event,i)'></app-quote-details>
                        <br>
                        <br>  
                       
                 
    
                    </div>
                </div>
            </div>
   </div>
</div>


    
    
